# Backend
.env
*.db
react-game
.vscode/*
__pycache__/*
__pycache__
.vscode

# Logs
react-game-fe/logs
react-game-fe/*.log
react-game-fe/npm-debug.log*
react-game-fe/yarn-debug.log*
react-game-fe/yarn-error.log*
react-game-fe/pnpm-debug.log*
react-game-fe/lerna-debug.log*

# Node modules
node_modules
react-game-fe/dist
react-game-fe/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
react-game-fe/.idea
react-game-fe/.DS_Store
react-game-fe/*.suo
react-game-fe/*.ntvs*
react-game-fe/*.njsproj
react-game-fe/*.sln
react-game-fe/*.sw?